@charset "UTF-8";
.openbtn2 {
    display: none;
}

@media only screen and (max-width: 768px) {
    nav {
        display: none;
        background: #f3f3f3;
        padding: 20px 0;
        width: 100%;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 200;
        text-align: center;
    }
    .header-inner {
        padding: 2em 0 1em;
        transition: all 0.5s;
    }
    .header-inner .header_logo {
        width: 200px;
    }
    .openbtn2 {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff;
    }
    .openbtn2 span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        right: 10px;
        height: 3px;
        background-color: #94B420;
    }
    .openbtn2 span:nth-of-type(1) {
        top: 18px;
        width: 60%;
    }
    .openbtn2 span:nth-of-type(2) {
        top: 28px;
        width: 45%;
    }
    .openbtn2.active span:nth-of-type(1) {
        top: 18px;
        right: 12px;
        transform: translateY(6px) rotate(-45deg);
        width: 50%;
    }
    .openbtn2.active span:nth-of-type(2) {
        top: 30px;
        right: 12px;
        transform: translateY(-6px) rotate(45deg);
        width: 50%;
    }
    .header-inner nav ul {
        width: 100%;
        display: block;
    }
    .header-inner nav ul li {
        display: block;
        font-size: 1.2em;
        margin-left: 0;
    }
    .header-inner nav ul li a {
        padding-bottom: 30px;
        width: 100%;
        color: #333;
        text-decoration: none;
        display: block;
    }
}